@font-face {
	font-family: "Segoe UI";
	font-weight: bold;
    src: url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.eot");
    src: url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/60570a3f64a1fece44ebf71b43617029.svg#Segoe UI") format("svg");
}

@font-face {
	font-family: "Segoe UI";
    font-weight: 400;
    src: url("//db.onlinewebfonts.com/t/623c7118249e082fe87a78e08506cb4b.eot");
    src: url("//db.onlinewebfonts.com/t/623c7118249e082fe87a78e08506cb4b.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/623c7118249e082fe87a78e08506cb4b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/623c7118249e082fe87a78e08506cb4b.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/623c7118249e082fe87a78e08506cb4b.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/623c7118249e082fe87a78e08506cb4b.svg#Segoe UI") format("svg");
}

@font-face {
    font-family: "Segoe UI";
    font-weight: bold;
    font-style: italic;
    src: url("//db.onlinewebfonts.com/t/343e2658260f70881334b1c31eed317e.eot");
    src: url("//db.onlinewebfonts.com/t/343e2658260f70881334b1c31eed317e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/343e2658260f70881334b1c31eed317e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/343e2658260f70881334b1c31eed317e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/343e2658260f70881334b1c31eed317e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/343e2658260f70881334b1c31eed317e.svg#Segoe UI") format("svg");
}
