$bg-primary: #fff;
$bg-secondary: #004a8a;
$bg-third: #04b2fb;
$bg-fourth: #000000;
$bg-fifth: #cacfd6;
$bg-sixth: #888;

$text-primary: #202d42;
$text-secondary: #fff;
$text-third: #04b2fb;
$text-fourth: #004a8a;
$text-fifth: #000;
$text-sixth: #888;
$text-seventh: #aaa;

$text-gray: #cacfd6;

$border-primary: #04b2fb;
$border-secondary: #ffffff;
$border-third: #cacfd6;
$border-fourth: #000;

$border-error: #ff4d4f;