@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "fonts/segoe-ui";

$h0: 36px;
$h1: 32px;
$h2: 28px;
$h3: 24px;
$h4: 19px;
$h5: 18px;
$h6: 16px;
$h7: 14px;
$h8: 12px;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;